*{margin:0;padding:0;}
body {background: #f5f5f5;color: #333;overflow-y: scroll;}
a{text-decoration: none;}
html, body {min-width: 980px;}
.dishow{display:none}
.reg_head{display: block;margin: 31px auto;width: 980px;}
.logo{width: 214px;height: 86px;background: url(../image/All_bg.png) no-repeat -115px -117px;display: inline-block;vertical-align: middle;}
.reg_tit{  display: inline-block;  vertical-align: middle;  font-size: 20px;  font-weight: normal;  padding-left: 10px;  font-family: "Microsoft YaHei";}
.reg_box{padding: 40px 30px 58px 30px;  width:918px;margin:0 auto;overflow: hidden;background-color: #FFFFFF;  border:1px solid #e7e7e7;}



.reg_form{ width:670px;  border-right:1px dashed #d2d2d2;  float: left;}
.reg_box .reg_form .it_focusr{border-color:#6cb8df;box-shadow: 0 0 1px 0 #7fcaf1;}
.reg_box .reg_form .it_focuse{border-color:#e46666;box-shadow: 0 0 1px 0 #f37c7c;}
.reg_name,.reg_pwd1,.reg_pwd2,.phonecode{ width:670px;  height: 66px;}
.ll{font:14px/36px "宋体";text-align: right;  width: 80px;  display: inline-block;}
.textbox{  border: 1px solid #dadada;  display: inline-block;  vertical-align: middle;  width: 290px;  position: relative;  height: 36px;  line-height: 36px;  margin: 5px;}
.putin{ border: 0 none;padding: 5px 28px 5px 0;line-height: 26px;overflow: hidden;width: 257px;margin-left: 5px;position: absolute;left: 0;top: 0;outline:none;color: #333;font-size: 16px; z-index: 30;background: none;}
.infor{  padding-left: 5px;  position: absolute;  top: 0px;  left: 0px;  color: rgb(183, 183, 183);  font-size: 14px; z-index: 20}
.right_show{
    display: inline-block;
    height:16px;
    width:16px;
    vertical-align: middle;
    background: url("../image/login01.png") no-repeat -78px 0px;
    position: relative;
    z-index: 40;
}
.errorshow{
    display: inline-block;
    position: absolute;
    font:14px/36px "Microsoft YaHei";
    height: 36px;
    width:270px;
    top:-1px;
    right:-273px;
    vertical-align: middle;
    color: rgb(102, 102, 102);
    border-width: 1px;
    border-style: solid;
    z-index: 30;
}
.color_r{
    background: #eef9ff;
    border-color: #ddf3ff;
}
.color_e{
    background: #fdeaea;
    border-color: #f9dddd;
}

.goodinfor{
    background: rgb(238, 249, 255);
    border-color: rgb(221, 243, 255);}
.badinfor{
    background: rgb(253, 234, 234);
    border-color: rgb(249, 221, 221);
}
.pwd_strong{width:286px;height:14px;
    position: absolute;
    bottom:-16px;
    left:0;
    background-color: rgb(255, 208, 153);
}
.strongbg{background-color: rgb(255, 102, 0)}

.leave{
    display: inline-block;
    width:94px;
    border-left:1px solid #FFF;
    float: left;
    text-align: center;
    font:12px/14px "宋体";
    color:#FFF;

}
.codebox{
    display:inline-block;
    position: relative;
    vertical-align: middle;
    margin: 14px 5px;
    width: 135px;
    height: 36px;
    line-height: 36px;
    border: 1px solid rgb(218, 218, 218);
    background: rgb(255, 255, 255);
}
.codeshow{
    padding-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(183, 183, 183);
    font-size: 14px;
    z-index: 30;
}
.codetext{
    width: 102px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(51, 51, 51);
    font: 14px/20px "Microsoft YaHei";
    border:0;
    padding: 8px 28px 8px 0;
    overflow: hidden;
    outline: none;
    z-index: 40;
    background: none;
}


.register-area .form .input-button {
    margin-left: 0;
    width: 128px;
}

.getcode_but{
    display: inline-block;
    position: relative;
    height: 36px;
    padding: 0 10px;
    margin: 5px;
    font: 14px/36px "Microsoft YaHei";
    color: rgb(51, 51, 51);
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 2px;
    cursor: pointer;
    background: url(../image/login01.png) no-repeat 0 -120px;;
}
.getcode_but:hover {
    background: rgb(245, 245, 245);
}

.successbox{
    height:100%;
    width:100%;
    position: fixed;
    background: rgb(0,0,0);
    z-index:900;
    opacity:0.3;
    top:0;
    left:0;
}
.successtxt{
    display:block;
    height:40px;
    width:300px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-150px;
    color:#fa5000;
    font:24px/40px "Microsoft YaHei";
}




.reg_read{display:block;}
.reg_read label{
    width: auto;
    text-align: left;
    font: 12px/22px "Microsoft YaHei";
    color: rgb(135, 135, 135);
    margin: 0 0 0 85px;
}
.reg_read label input{display: inline-block;vertical-align: middle;}
.reg_read a{font: 12px/22px "Microsoft YaHei";}
.reg_read a:hover{text-decoration: underline;}
.reg_button{display:block;}
.reg_button:hover{opacity: 0.8}
.go_but{
    display: inline-block;
    height: 40px;
    width: 272px;
    color: rgb(255, 255, 255);
    font: 16px/40px "Microsoft YaHei";
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    background: rgb(4, 135, 223);
    border-radius: 2px;
    padding: 0 10px;
    margin: 14px 0 0 85px;
}


.reg_right{
    color: #919191;
    float: left;
    display: inline;
    margin-left: 30px;
    font: 12px/40px "Microsoft YaHei";
}
.reg_right a{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-indent: 30px;
    letter-spacing: 2px;
    margin-bottom: 4px;
    background: url("../image/login01.png") no-repeat -118px 0;
}
.reg_right a:hover{text-decoration: underline;}